<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
<div class="form-horizontal">
{% for field in form %}
    <div class="form-group">

        <div class="col-sm-offset-1 col-sm-12">
            <span class="text-danger small">
                {{ field.errors }}
            </span></div>

    <label class="control-label col-sm-4">{{ field.label_tag }}</label>
    <div class="col-sm-7">{{ field }}</div>

    </div>
{% endfor %}
</div>
<style>
    .col-sm-7{
        margin-top:10px;
        padding-top: 10px;
    }
</style>